// Colours
@calc-main-background: #493D7E;
@calc-button-background: #eee;
@calc-button-text: #222;
@calc-button-alt: #F08C33;
@calc-button-alt-text: #222;
@calc-output-background: #222;
@calc-output-text: #eee;
@calc-border-colour: #000;

// Sizes
@calc-button-side: 25%;
@calc-border-width: 1px;

// Container
.Calculator {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 300px;
    font-size: 30px;
    font-weight: lighter !important;
    clear: none;
    border-top: @calc-border-width solid @calc-border-colour;
}

// Row utility class
.Calculator__row {
    border-right: @calc-border-width solid @calc-border-colour;
    border-bottom: @calc-border-width solid @calc-border-colour;

    display: flex;
    width: 100%;
    clear: both;
}

// Basic Calculator Element
.Calculator__elem {
    user-select: none;
    display: flex;
    height: 75px;
    align-items: center;
    color: @calc-button-text;
    border-left: @calc-border-width solid @calc-border-colour;
    background-color: @calc-button-background;
    clear: none;
    margin: 0;
}

// Specific Element Classes
.Calculator__button {
    .Calculator__elem;
    justify-content: center;
    width: @calc-button-side;
}

.Calculator__double {
    .Calculator__button;
    width: calc(@calc-button-side * 2);
}

.Calculator__triple {
    .Calculator__button;
    width: calc(@calc-button-side * 3);
}

.Calculator__smallText {
    .Calculator__button;
    font-size: 24px;
}

.Calculator__end {
    .Calculator__button;
    background-color: @calc-button-alt;
    color: @calc-button-alt-text;
}

.Calculator__output {
    .Calculator__elem;
    width: calc(@calc-button-side * 4);
    justify-content: flex-end;
    background-color: @calc-output-background;
    color: @calc-output-text;
    padding-right: 28px;
}
